/* banner */
.banner {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.banner-body {
  background-color: transparent;
}

.banner-body-img {
  height: 277px;
  overflow: hidden;
}

.banner-body-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.banner-body-content {
  color: #166f97;
  text-align: center;
  padding-bottom: 10px;
}

.banner-body-content__ttl {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 20%;
  margin: -24px 0 14px;
}

.banner-body-content__desc {
  font-family: Benne;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

@media (min-width: 768px) {
  .banner {
    background: url('../img/bg-banner-img.png') no-repeat center center;
    background-color: #fff;
    background-size: cover;
    min-height: 706px;
  }

  .banner-body {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .banner-body-img {
    display: none;
  }

  .banner-body-content {
    display: flex;
    flex-direction: column;
  }

  .banner-body-content > * {
    margin: 0 42px 0 auto;
  }

  .banner-body-content__ttl {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 46px;
    line-height: 71px;
    letter-spacing: 20%;
  }

  .banner-body-content__desc {
    font-size: 20px;
  }
}

/* END: banner */

/* concept */
.concept {
  position: relative;
  isolation: isolate;
  z-index: 1;
  overflow: hidden;
  padding: 65px 0 30px;
  background-color: #fff;
}

.concept-clouds {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

.concept-cloud {
  position: absolute;
  left: -14%;
  width: 128%;
  height: 100%;
  background: url('../img/concept.png') no-repeat center center;
  background-size: 102% auto;
  opacity: 0.32;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.concept-cloud--1 {
  top: -10%;
  background-position: 46% 42%;
  filter: saturate(1.16) contrast(1.1) hue-rotate(6deg);
}

.concept-cloud--2 {
  top: 6%;
  opacity: 0.24;
  background-position: 54% 58%;
  filter: saturate(1.18) contrast(1.12) hue-rotate(12deg);
}

.concept .container {
  position: relative;
  z-index: 1;
}

.concept-body {
  margin: 30px 0;
}

.concept-body-group {
  position: relative;
  margin: 0 auto;
  max-width: 350px;
}

.concept-body-group img {
  width: 100%;
  height: auto;
}

.concept-body-group-img--first {
  max-width: 184px;
}

.concept-body-group-img--second {
  position: absolute;
  top: 50px;
  left: 35%;
  max-width: 213px;
}

.concept-body-content {
  margin-top: 108px;
}

.concept-body-content__ttl {
  max-width: 350px;
  font-weight: 600;
  font-size: 23px;
  line-height: 36px;
  letter-spacing: -4%;
  color: #166f97;
  margin: 0 auto 30px;
}

.concept-body-content__ttl span {
  display: block;
  text-indent: 20%;
}

.concept-body-content__txt {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
}

.concept-btn {
  text-align: center;
}

.concept-btn .section__btn {
  text-align: left;
}

@media (min-width: 1024px) {
  .concept {
    padding: 300px 0 100px;
  }

  .concept-cloud {
    opacity: 0.36;
  }

  .concept-cloud--2 {
    opacity: 0.28;
  }

  .concept-body {
    display: flex;
    margin: 90px 0 63px;
    gap: 60px;
  }

  .concept-body-group {
    flex: 1;
    max-width: unset;
  }

  .concept-body-group-img {
    position: relative;
  }

  .concept-body-group-img--first {
    max-width: 290px;
  }

  .concept-body-group-img--second {
    top: 70px;
    max-width: 281px;
  }

  .concept-body-group img {
    width: auto;
  }

  .concept-body-content {
    flex: 1;
  }

  .concept-body-content__ttl {
    font-size: 33px;
    line-height: 50px;
    max-width: unset;
  }

  .concept-body-content__txt {
    font-size: 18px;
    line-height: 40px;
    text-align: left;
  }

  .concept-btn {
    text-align: right;
  }
}

@media (min-width: 1360px) {
  .concept-body {
    gap: 0;
  }
}

/* END: concept */

/* company */
.company {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 65px 0 30px;
  /* background: radial-gradient(circle at 50% 50%, #002b5c 0%, #001535 60%, #000818 100%); */
  background-size: cover;
}

.company .section-header {
  color: rgba(255, 255, 255, 0.6);
}

.company .section__desc::before,
.company .section__desc::after {
  background-color: rgba(255, 255, 255, 0.6);
}

.company-body {
  margin-top: 30px;
}

.company-clouds {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

.company-cloud {
  position: absolute;
  width: 125%;
  height: 100%;
  left: -8%;
  background: url('../img/company.png') no-repeat center center;
  background-size: 100% auto;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.company-cloud--1 {
  top: -14%;
  opacity: 0.32;
  background-position: 58% 34%;
  filter: saturate(1.12) contrast(1.08) hue-rotate(4deg);
}

.company-cloud--2 {
  top: 2%;
  opacity: 0.22;
  background-position: 64% 50%;
  filter: saturate(1.14) contrast(1.1) hue-rotate(8deg);
}

.company .container {
  position: relative;
  z-index: 1;
}

.company .bg--01 {
  --bg-image: url("../img/company-img01.png");
}
.company .bg--02 {
  --bg-image: url("../img/company-img02.png");
}
.company .bg--03 {
  --bg-image: url("../img/company-img03.png");
}

.company-body-list-item {
  color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  border: 1px solid #0d488a;
  box-shadow: 0px 4px 12px 0px rgba(13, 72, 138, 1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image:
    linear-gradient(rgba(13, 72, 138, 0.52), rgba(13, 72, 138, 0.52)),
    var(--bg-image);
}

.company-body-list-item:nth-child(even) {
  margin-left: auto;
}

.company-body-list-item + .company-body-list-item {
  margin-top: 30px;
}

.company-body-list-item__ttl {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 50px;
}

.company-body-list-item__txt {
  text-align: center;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.company-body-list-item-btn .section__btn {
  border-color: #fff;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
}

.company-body-list-item-btn .section__btn::before,
.company-body-list-item-btn .section__btn::after {
  background-color: #fff;
}

@media (min-width: 1024px) {
  .company {
    padding: 182px 0 60px;
  }

  .company-body {
    margin-top: 90px;
  }

  .company-body-list {
    display: flex;
    gap: 14px;
  }

  .company-body-list-item {
    width: 270px;
    height: 270px;
  }

  .company-body-list-item:nth-child(even) {
    margin-left: 0;
  }

  .company-body-list-item + .company-body-list-item {
    margin-top: calc(var(--company-index, 0) * 190px);
  }

  .company-body-list-item__ttl {
    font-size: 30px;
  }

  .company-body-list-item__txt {
    font-size: 18px;
  }
}

@media (min-width: 1360px) {
  .company-body-list-item {
    width: 380px;
    height: 380px;
  }
}

/* END: company */

/* business */
.business {
  position: relative;
  z-index: 1;
  isolation: isolate;
  overflow: hidden;
  padding: 65px 0 30px;
  background-color: #fff;
}

.business .container {
  position: relative;
  z-index: 1;
}

.business-body {
  margin-top: 30px;
}

.business-body__txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.arrow-btn {
  width: 40px;
  height: 45px;
  background: linear-gradient(180deg, #3897C2 0%, #647982 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

.arrow-btn__prev {
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.arrow-btn__next {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.business .bg--01 {
  --bg-image: url("../img/business-img01.png");
}
.business .bg--02 {
  --bg-image: url("../img/business-img02.png");
}
.business .bg--03 {
  --bg-image: url("../img/business-img03.png");
}
.business .bg--04 {
  --bg-image: url("../img/business-img04.png");
}
.business .bg--05 {
  --bg-image: url("../img/business-img05.png");
}
.business .bg--06 {
  --bg-image: url("../img/business-img06.png");
}

@media (min-width: 1024px) {
  .business {
    padding: 245px 0 160px;
  }

  .business-body {
    margin-top: 183px;
  }

  .business-body__txt {
    font-size: 18px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 300px;
  }
}

/* Cosmic Slider Section */
.slider-section {
  position: relative;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 4rem 0;
  background-color: #000;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-item {
  position: absolute;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 4px 12px 0px rgba(13, 72, 138, 1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(7, 36, 49, 0.75) 0%, rgba(22, 111, 151, 0.75) 100%), var(--bg-image);
}

.slider-item.active {
  width: 400px;
  height: 400px;
  z-index: 100;
  border: 1px solid rgba(59, 130, 246, 0.7);
  box-shadow: 0 0 80px rgba(37, 99, 235, 0.3);
}

.item-number {
  font-size: 40px;
  font-weight: 600;
  color: #AFA9A9;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

.active .item-number {
  font-size: 20px;
  margin-bottom: 10px;
}

.item-title {
  font-size: 20px;
  font-weight: 700;
  color: #D9D9D9;
  transition: all 0.5s ease;
  max-width: 90%;
  line-height: 1.4;
}

.active .item-title {
  font-size: 30px;
  margin-bottom: 1rem;
}

.item-content {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.2;
  max-width: 290px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.active .item-content {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.item-btn {
  cursor: pointer;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-color: #fff;
  color: #fff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2);
}

.item-btn::before,
.item-btn::after {
  background-color: #fff;
}

.active .item-btn {
  opacity: 1;
  visibility: visible;
  height: auto;
  padding: 10px 20px;
  margin: 16px 0 25px;
}
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  display: none;
  width: 40px;
  height: 45px;
  background: linear-gradient(180deg, #3897C2 0%, #647982 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

.active .nav-arrow {
  display: block;
}

.nav-arrow.prev {
  left: 5px;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.nav-arrow.next {
  right: 5px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

@media (min-width: 768px) {
  .slider-item {
    width: 120px;
    height: 120px;
  }

  .slider-item.active {
    width: 240px;
    height: 240px;
  }

  .item-number {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .active .item-number {
    font-size: 30px;
    margin-bottom: 14px;
  }

  .item-title {
    font-size: 12px;
  }

  .active .item-title {
    font-size: 16px;
  }

  .item-content {
    font-size: 12px;
    max-width: 150px;
  }

  .nav-arrow {
    width: 25px;
    height: 30px;
  }

  .active .item-btn {
    font-size: 12px;
    padding: 4px 8px;
  }
}

@media (min-width: 1024px) {
  .slider-item {
    width: 150px;
    height: 150px;
  }

  .business .section__btn {
    min-width: 160px;
  }

  .item-number {
    font-size: 14px;
    margin-bottom: 10px;
  }
}


@media (min-width: 1260px) {
 .slider-item {
    width: 200px;
    height: 200px;
 }

  .slider-item.active {
    width: 400px;
    height: 400px;
  }

  .business .section__btn {
    min-width: 200px;
  }

  .item-number {
    font-size: 30px;
  }

  .active .item-number {
    font-size: 90px;
    margin-bottom: 14px;
  }

  .item-title {
    font-size: 20px;
  }

  .active .item-title {
    font-size: 30px;
  }

  .item-content {
    font-size: 18px;
    max-width: 290px;
  }

  .nav-arrow {
    width: 40px;
    height: 45px;
  }

  .active .item-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

/* END: business */
