/* banner */
.banner {
  position: relative;
  padding: 56px 36px 36px;
}

.banner .section-header {
  color: rgba(255, 255, 255, 0.7);
}

.section__desc::before,
.section__desc::after {
  background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  .banner {
    padding: 64px 30px;
  }
}

/* END: banner */

/* concept */
.concept {
  z-index: 1;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 56px 0 30px;
  background-color: #fff;
}

.concept .container {
  position: relative;
  z-index: 1;
}

.concept-body {
  margin: 30px 0;
}

.concept-body-group {
  position: relative;
  margin: 0 auto;
  max-width: 350px;
}

.concept-body-group img {
  width: 100%;
  height: auto;
}

.concept-body-group-img--first {
  max-width: 184px;
}

.concept-body-group-img--second {
  position: absolute;
  top: 50px;
  left: 35%;
  max-width: 213px;
}

.concept-body-content {
  margin-top: 108px;
}

.concept-body-content__ttl {
  max-width: 350px;
  font-weight: 600;
  font-size: 23px;
  line-height: 36px;
  letter-spacing: -4%;
  color: #166f97;
  margin: 0 auto 30px;
}

.concept-body-content__ttl span {
  display: block;
  text-indent: 20%;
}

.concept-body-content__txt {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
}

.concept-body-content__txt + .concept-body-content__txt {
  margin-top: 20px;
}

.concept-btn {
  text-align: center;
}

.concept-btn .section__btn {
  text-align: left;
}

@media (min-width: 1024px) {
  .concept {
    padding: 200px 0 100px;
  }

  .concept-body {
    display: flex;
    gap: 60px;
    margin: 90px 0 150px;
  }

  .concept-body-group {
    flex: 1;
    max-width: unset;
  }

  .concept-body-group-img--first {
    max-width: 290px;
  }

  .concept-body-group-img--second {
    top: 70px;
    max-width: 281px;
  }

  .concept-body-group img {
    width: auto;
  }

  .concept-body-content {
    flex: 1;
    margin-top: 0;
  }

  .concept-body-content__ttl {
    font-size: 33px;
    line-height: 50px;
    max-width: unset;
  }

  .concept-body-content__txt {
    font-size: 18px;
    line-height: 40px;
    text-align: left;
  }

  .concept-body-content__txt + .concept-body-content__txt {
    margin-top: 50px;
  }

  .concept-btn {
    margin-top: 50px;
    text-align: right;
  }
}

/* END: concept */
